<div class="container-fluid">
  <div class="container" style="margin-top:150px; ">
    
    <h3 class="text-center">Looking for Game?</h3>
    <br/>
    <div class="col-md-12">
      <p>darshit Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
        dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
        book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
        unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
        more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" *ngFor="let g of game" style="margin-bottom:20px;">
      <!--<a [routerLink]="['/games/:id',{id:g._id}]">-->
      <a [routerLink]="['/games/', g._id]">
        <div class="block">
          <img title="{{g.name}}" alt="{{g.name}}" src="{{g.gamepic}}">
          <div class="block-caption">
            {{g.platform}}
          </div>
        </div>
      </a>
    </div>
    <!--<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <div class="block">
        <img title="" alt="" src="http://gridom.com/sites/default/files/styles/game_logo_small/public/destiny_0_0.jpg?itok=4FkE2zgp">
        <div class="block-caption">
          A nice hidden subtitle goes here
        </div>
      </div>
    </div>-->
    <p></p>
  </div>
</div>