<div class="container-fluid">
    <div id="passwordreset" style="margin-top:70px" class="container">
        <div class="row text-center">
            <h1>Reset Password</h1>
            <form class="col-md-4 col-md-push-4" (submit)="onResetSubmit()">
                <flash-messages></flash-messages>
                <div class=" form-group">
                    <label>Your Register Email Address</label>
                    <input type="text" class="form-control text-center" [(ngModel)]="email" name="email">
                </div>
                <button type="submit" class="btn btn-raised btn-primary pull-right">Reset Password</button>
            </form>
        </div>
    </div>
</div>







<!--<div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">Reset Password</div>
            </div>                     
            <div class="panel-body"> 
                
                <form (submit)="onResetSubmit()" style="margin-bottom: 10px;">
                    <div class="form-group">
                        <label>Email</label>
                         <input type="text" class="form-control" [(ngModel)]="email" name="email">
                    </div>                    
                    <div class="form-group"> 
                        <button type="submit" class="btn btn-raised btn-primary pull-right">Reset Password</button>
                    </div>                             
                </form>
            </div>
        </div>-->