<div class="container-fluid" style="padding:0px;">
  <img title="{{name}}" alt="{{name}}" src="{{gamepic}}" style="width:100%;height:100vh" />
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h4 class="text-lowercase" style="color:#a9a9a9;margin-bottom:5px 0px;">{{shortDesc}}</h4>
        <h1 style="margin:4px 0px;">{{name}} </h1>
        <span class="h5 text-uppercase" style="color:#a9a9a9">platform:</span>
        <span class="text-uppercase h4" style="margin:0px;color:#323232">{{platform}}</span>
      </div>
      
      <div class="col-md-6">
          <button type="button" class="btn btn-raised btn-primary pull-right" (click)="interestfun(temp)">{{temp ? 'REMOVE INTEREST' : 'ADD INTEREST'}}</button>
                  
      </div>
    </div>

    <div class="row">
      <div class="col-md-9">
        <p></p>
        <p class="text-justify">{{Desc}}</p>
      </div>
      <div class="col-md-3">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h4 class="panel-title">
              Friends
            </h4>
          </div>
          <div class="panel-collapse">
            <ul class="list-group list-unstyled">
              <li class="list-group-item" *ngFor="let i of userID">
                <div class="profile-item profile-item-star">                  
                  <a href="#">
                    <span>{{i.username}}</span>
                  </a>
                  <small class="h6" style="margin:-2px">{{i.platform}}</small>
                </div>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
