<div class="container-fluid" style="margin-top:70px; margin-bottom: 20px;">
  <div class="container">
    <flash-messages></flash-messages>
    <div class="row left-center">
      <h1>Your Verify Email address Successfully Completed!</h1>
      <h1><a [routerLink]="['/profile']">Click Here</a> to go Profile Page</h1>
    </div>
  </div>
</div>