<div id="register-page" class="container">
    <div  style="margin-top:70px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">Register</div>
            </div>                     
            <div class="panel-body"> 
              <flash-messages></flash-messages>
              <form (submit)="onRegisterSubmit()" style="margin-bottom: 10px;" >
                <div class="form-group">
                  <label>Name</label>
                  <input type="text" [(ngModel)]="name" name="name" class="form-control">
                </div>
                <div class="form-group">
                  <label>Username</label>
                  <input type="text" [(ngModel)]="username" name="username" class="form-control">
                </div>
                <div class="form-group">
                  <label>Email</label>
                  <input type="text" [(ngModel)]="email" name="email" class="form-control" >
                </div>
                <div class="form-group">
                  <label>Password</label>
                  <input type="password" [(ngModel)]="password" name="password" class="form-control">
                </div>
                <div class="form-group">
                  <label>Birthday</label>
                  <my-date-picker name="birthday" [options]="myDatePickerOptions" [(ngModel)]="birthday"></my-date-picker>
                </div>
                 <div class="form-group">
                    <label class="col-md-2" style="margin-left: 0px;">Gender</label>
                    <div class="col-md-10">
                      <div class="radio radio-primary">
                        <label>
                          <input type="radio" name="gender" [(ngModel)]="gender" value="male" checked="">
                         Male
                        </label>
                      </div>
                      <div class="radio radio-primary">
                        <label>
                          <input type="radio" name="gender" [(ngModel)]="gender" value="female">
                         Female
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group"> 
                        <button type="submit" class="btn btn-raised btn-primary pull-right">Submit</button>
                  </div>   
                                 
              </form>
            </div>
        </div>
    </div>             
</div>