.table>tbody>tr {
    border-bottom: 1px solid #ddd;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-top: none !important;
}

.table {
    margin-bottom: 5px;
}
.table>tbody>tr:hover {
    background-color: #fff;
}
.panel-body {
     padding: 0px!important; 
}
.big-number {
    font-size: 45px;
    font-weight: 700;
    position: relative;
    bottom: -3px;
    margin-right: 5px;
}
.form-group {
    padding-bottom: 7px;
    margin:10px 0 0 0;
}
.form-control {        
        padding: 0px 0 !important;
       
    }
    .panel-group .panel {
    margin-bottom: 15px !important;
}

.panel-title > a {text-decoration: none !important;
}