<div id="lfg-page" class="container">
    <div class="row" style="margin-top:70px;">
        <span class="big-number">{{onlineMember}}</span><span class="h3">ONLINE</span>
        <h1 class="text-uppercase">Looking for Groups</h1>
        <p>Find all types of groups by consoles and games, subscribe to game notifications you care about. Create your own requests
            or post on other requests for finding groups. GoodGamer supports many games, consoles, grouping types like LFG,
            LFM, Raids and much more! If you do not see a game, console listed feel free to make a suggestion within built
            in feature of the app. Subscribe for game request notifications to receive real time alerts of new requests or
            post your own as we grow our player base. See our full list of games by letter in app! There is no limit on how
            many games, consoles and groups that can be added.</p>
    </div>



    <div class="row">
        <div class="panel-group" id="accordion_reg" role="tablist" aria-multiselectable="true">

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFour_reg">
                    <h4 class="panel-title">
                        <a class="collapsed h2" role="button" data-toggle="collapse" data-parent="#accordion_reg" href="#collapseFour_reg" aria-expanded="false"
                            aria-controls="collapseFour_reg">
                            Activity
                        </a>
                    </h4>
                </div>
                <div id="collapseFour_reg" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour_reg">
                    <div class="panel-body">
                        <div class="table-container" *ngIf="activitys">
                            <table class="table">
                                <tbody>
                                    <tr *ngFor="let a of activitys">
                                        <td style="width: 250px;">
                                            <h4 class="" style="margin-bottom:0px; color: #646464;">{{a.name}} &nbsp;</h4>
                                            <span class="h6 text-uppercase" style="color:#a2a2a2;"><i aria-hidden="true" class="fa fa-map-marker"></i>  {{a.region}} </span>&nbsp;
                                            <span class="h6 text-uppercase" style="color:#a2a2a2;">{{a.characters}} </span>&nbsp;
                                            <span class="h6 text-uppercase" style="color:#a2a2a2;" *ngIf="a.mic"><i aria-hidden="true" class="fa fa-microphone"></i> </span>
                                            <h6 class="text-uppercase" style="margin-bottom:2px; color:#a2a2a2;">{{a.platform}} </h6>
                                        </td>
                                        <td style="width: 50px;">
                                            <h3 style="margin-bottom:2px; color:#a2a2a2;">{{a.lookingfor}} </h3>
                                        </td>
                                        <td>
                                            <h4 style="margin-bottom:2px; color:#646464;">{{a.activity}} </h4>
                                            <h5 style="margin-bottom:2px; color:#646464;">{{a.gamename}} </h5>
                                            <small style="margin-bottom:2px; color:#a2a2a2;">{{a.note}}</small>
                                        </td>
                                        <td style="width: 200px;">
                                            <h6 class="h6 pull-right" style="color:#a2a2a2;">
                                                <time>{{a.recDate | amTimeAgo }}</time>
                                            </h6>
                                            <br/>
                                            <br/>
                                            <h5 class="pull-right" style="color:#ff5722;cursor:pointer" id="delete" (click)="DeletepostGame(a._id)"><b>Delete</b> </h5>
                                            <h5 class="pull-right" style="color:#ff5722;cursor:pointer" id="repost" (click)="repostGame(a._id)"><b>Re-post &nbsp;</b> </h5>
                                            <h5 class="pull-right" style="color:#a2a2a2;cursor:pointer"> JOIN &nbsp; </h5>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>



            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo_reg">
                    <h4 class="panel-title">
                        <a class="collapsed h2" role="button" data-toggle="collapse" data-parent="#accordion_reg" href="#collapseTwo_reg" aria-expanded="false"
                            aria-controls="collapseTwo_reg">
                          Post my group
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo_reg" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo_reg">
                    <div class="panel-body">
                        <flash-messages></flash-messages>
                        <form role="form" (submit)="onGamePostSubmit()">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="sel1">PLATFORM</label>
                                        <select class="form-control" name="platform" [(ngModel)]="platform">
                                            <option value="x360">Xbox 360</option>
                                            <option value="x1">Xbox One</option>
                                            <option value="ps3">PlayStation 3</option>
                                            <option value="ps4">PlayStation 4</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="sel1">REGION</label>
                                        <select class="form-control" name="region" [(ngModel)]="region">
                                            <option value="North America">North America</option>
                                            <option value="South America">South America</option>
                                            <option value="Europe">Europe</option>
                                            <option value="Asia">Asia</option>
                                            <option value="Oceania">Oceania</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="sel1">LANGUAGE</label>
                                        <select class="form-control" name="language" [(ngModel)]="language">
                                            <option value="English">English (EN)</option>
                                            <option value="French">French (FR)</option>
                                            <option value="German">German (DE)</option>
                                            <option value="Italian">Italian (IT)</option>
                                            <option value="Portuguese">Portuguese (PT)</option>
                                            <option value="Spanish">Spanish (ES)</option>
                                            <option value="Arabic">Arabic (AR)</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="sel1">ACTIVITY</label>
                                        <select class="form-control" name="activity" [(ngModel)]="activity">
                                            <option value="Vault of Glass — Fresh (Challenge)">&nbsp;&nbsp;&nbsp;Vault of Glass — Fresh (Challenge)</option>
                                            <option value="Vault of Glass — Gorgon Labyrinth (Challenge)">&nbsp;&nbsp;&nbsp;Vault of Glass — Gorgon Labyrinth (Challenge)</option>
                                            <option value="Vault of Glass — Templar (Challenge)">&nbsp;&nbsp;&nbsp;Vault of Glass — Templar (Challenge)</option>
                                            <option value="Vault of Glass — Gatekeeper (Challenge)">&nbsp;&nbsp;&nbsp;Vault of Glass — Gatekeeper (Challenge)</option>
                                            <option value="Vault of Glass — Atheon (Challenge)">&nbsp;&nbsp;&nbsp;Vault of Glass — Atheon (Challenge)</option>
                                            <option value="Wrath of the Machine — Heroic">&nbsp;&nbsp;&nbsp;Wrath of the Machine — Heroic</option>
                                            <option value="Archon's Forge">&nbsp;&nbsp;&nbsp;Archon's Forge</option>
                                            <option value="Challenge of the Elders">&nbsp;&nbsp;&nbsp;Challenge of the Elders</option>
                                            <option value="Wrath of the Machine — Exotic Quest">&nbsp;&nbsp;&nbsp;Wrath of the Machine — Exotic Quest</option>
                                            <option value="Trials of Osiris">&nbsp;&nbsp;&nbsp;Trials of Osiris</option>
                                            <option value="Iron Banner">&nbsp;&nbsp;&nbsp;Iron Banner</option>
                                            <option value="Exotic Quest">&nbsp;&nbsp;&nbsp;Exotic Quest</option>
                                            <option value="Weekly Nightfall Strike">&nbsp;&nbsp;&nbsp;Weekly Nightfall Strike</option>
                                            <option value="Daily Heroic Story">&nbsp;&nbsp;&nbsp;Daily Heroic Story</option>
                                            <option value="Questing">&nbsp;&nbsp;&nbsp;Questing</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="sel1">LOOKING FOR</label>
                                        <select class="form-control" name="lookingfor" [(ngModel)]="lookingfor">
                                            <option value="LFG">Looking for Group</option>
                                            <option value="LFM">Looking for More</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="sel1">GAMES</label>
                                        <select class="form-control" name="gamename" [(ngModel)]="gamename">
                                            <!--<option *ngFor="let gs of game" value="{{gs.name}}">{{gs.name}}</option>-->
                                            <option value="GTA V">GTA V</option>
                                            <option value="Destiny">Destiny</option>
                                            <option value="Diablo III: Reaper of Souls">Diablo III: Reaper of Souls</option>
                                            <option value="FIFA 15">FIFA 15</option>
                                            <option value="CoD-Advanced Warfare">CoD-Advanced Warfare</option>
                                            <option value="CoD-Advanced Warfare">Forza Horizon</option>
                                        </select>
                                    </div>
                                </div>
                                
                            </div>

                            <div class="form-group">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-md-2" for="sel1">MIC</label>
                                        <div class="col-md-10">
                                            <div class="radio radio-primary">
                                                <label>
                                                    <input type="radio" name="mic" [(ngModel)]="mic" value="Yes" checked=""> Yes
                                                </label>
                                            </div>
                                            <div class="radio radio-primary">
                                                <label>
                                                    <input type="radio" name="mic" [(ngModel)]="mic" value="No"> No
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="sel1">CHARACTERS</label>
                                        <select class="form-control" name="characters" [(ngModel)]="characters">
                                            <option value="Hunter">Hunter</option>
                                            <option value="Titan">Titan</option>
                                            <option value="Warlock">Warlock</option> 
                                            <option value="Barbarian">Barbarian</option>
                                            <option value="Demon Hunter">Demon Hunter</option>
                                            <option value="Monk">Monk</option> 
                                            <option value="Witch Doctor">Witch Doctor</option>
                                            <option value="Wizard">Wizard</option>
                                            <option value="Coach">Coach</option> 
                                            <option value="Rochelle">Rochelle</option>
                                            <option value="Nick">Nick</option>
                                            <option value="Ellis">Ellis</option>
                                            <option value="Warrior">Warrior</option>
                                            <option value="Paladin">Paladin</option>
                                            <option value="Rogue">Rogue</option>
                                            <option value="Priest">Priest</option>
                                            <option value="Death Knight">Death Knight</option>
                                            <option value="Shaman">Shaman</option>
                                            <option value="Mage">Mage</option>
                                            <option value="Monk">Monk</option>
                                            <option value="Druid">Druid </option>                                           
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="sel1">NOTE</label>
                                        <input type="text" name="note" [(ngModel)]="note" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-12">
                                    <button type="submit" class="btn btn-raised btn-primary pull-right">Submit</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree_reg">
                    <h4 class="panel-title">
                        <a class="collapsed h2" role="button" data-toggle="collapse" data-parent="#accordion_reg" href="#collapseThree_reg" aria-expanded="false"
                            aria-controls="collapseThree_reg">
                            Filters
                        </a>
                    </h4>
                </div>
                <div id="collapseThree_reg" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree_reg">
                    <div class="panel-body">
                        <form role="form">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="sel1">PLATFORM</label>
                                    <select class="form-control" name="platform" [(ngModel)]="platform">
                                    <option value="ps3">PS3</option>
                                    <option value="ps4">PS4</option>
                                    <option value="pc">PC</option>
                                    <option value="x360">XBOX 360</option>
                                    <option value="x1">XBOX One</option>                                    
                                </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="sel1">GAME</label>
                                    <select class="form-control" name="game" [(ngModel)]="game">
                                    <!--<option *ngFor="let g of game" value="{{g.name}}">{{g.name}}</option>-->
                                        <option value="GTA V">GTA V</option>
                                        <option value="Destiny">Destiny</option>
                                        <option value="Diablo III: Reaper of Souls">Diablo III: Reaper of Souls</option>
                                        <option value="FIFA 15">FIFA 15</option>
                                        <option value="CoD-Advanced Warfare">CoD-Advanced Warfare</option>
                                        <option value="CoD-Advanced Warfare">Forza Horizon</option>  
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="sel1">CHARACTERS</label>
                                    <select class="form-control" name="characters" [(ngModel)]="characters">
                                        <option value="Hunter">Hunter</option>
                                        <option value="Titan">Titan</option>
                                        <option value="Warlock">Warlock</option> 
                                        <option value="Barbarian">Barbarian</option>
                                        <option value="Demon Hunter">Demon Hunter</option>
                                        <option value="Monk">Monk</option> 
                                        <option value="Witch Doctor">Witch Doctor</option>
                                        <option value="Wizard">Wizard</option>
                                        <option value="Coach">Coach</option> 
                                        <option value="Rochelle">Rochelle</option>
                                        <option value="Nick">Nick</option>
                                        <option value="Ellis">Ellis</option>
                                        <option value="Warrior">Warrior</option>
                                        <option value="Paladin">Paladin</option>
                                        <option value="Rogue">Rogue</option>
                                        <option value="Priest">Priest</option>
                                        <option value="Death Knight">Death Knight</option>
                                        <option value="Shaman">Shaman</option>
                                        <option value="Mage">Mage</option>
                                        <option value="Monk">Monk</option>
                                        <option value="Druid">Druid </option>                                           
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group text-center">
                                    <button type="button" class="btn btn-raised btn-danger pull-right" (click)="resetGamepost()">Reset Post</button>
                                    <button type="button" class="btn btn-raised btn-danger pull-right" (click)="filterGamePostsubmit()"><i aria-hidden="true" class="fa fa-search" ></i></button>                                    
                                </div>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--POST LIST-->
    <div class="row">
        <section class="content">

            <div class="col-lg-12" style="padding: 0px;">
                <div class="panel" style="background-color: #fbfbfb;">
                    <div class="panel-body">

                        <div class="table-container" *ngIf="postgame">
                            <table class="table">
                                <tbody>
                                    <tr *ngFor="let pg of postgame">
                                        <td style="width: 250px;">
                                            <h4 class="" style="margin-bottom:0px; color: #646464">{{pg.name}} &nbsp;</h4>
                                            <span class="h6 text-uppercase" style="color:#a2a2a2;"><i aria-hidden="true" class="fa fa-map-marker"></i>  {{pg.region}} </span>&nbsp;
                                            <span class="h6 text-uppercase" style="color:#a2a2a2;">{{pg.characters}} </span>&nbsp;
                                            <span class="h6 text-uppercase" style="color:#a2a2a2;" *ngIf="pg.mic"><i aria-hidden="true" class="fa fa-microphone"></i> </span>
                                            <h6 class="text-uppercase" style="margin-bottom:2px; color:#a2a2a2;">{{pg.platform}} </h6>
                                        </td>
                                        <td style="width: 50px;">
                                            <h3 style="margin-bottom:2px; color:#a2a2a2;">{{pg.lookingfor}} </h3>
                                        </td>
                                        <td>
                                            <h4 style="margin-bottom:2px; color:#646464;">{{pg.activity}} </h4>
                                            <h5 style="margin-bottom:2px; color:#646464;">{{pg.gamename}} </h5>
                                            <small style="margin-bottom:2px; color:#a2a2a2;">{{pg.note}}</small>
                                        </td>
                                        <td style="width: 200px;">
                                            <h6 class="h6 pull-right" style="color:#a2a2a2;">
                                                <time>{{pg.recDate | amTimeAgo }}</time>
                                            </h6>
                                            <br/>
                                            <br/>
                                            <!--<h5 class="pull-right" style="color:#ff5722;cursor:pointer" id="delete" (click)="DeletepostGame(pg._id)"><b>Delete</b> </h5>
                                            <h5 class="pull-right" style="color:#ff5722;cursor:pointer" id="repost" (click)="repostGame(pg._id)"><b>Re-post &nbsp;</b> </h5>-->
                                            <h5 class="pull-right" style="color:#a2a2a2;cursor:pointer"> JOIN &nbsp; </h5>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>

            </div>
        </section>
    </div>





</div>
<!--
{{  | date:'dd.MM.yy - hh.mm a'}}-->