    <div id="myCarousel" class="carousel slide" data-ride="carousel"> 
      <!-- Indicators -->
      <!--<ol class="carousel-indicators">
        <li data-target="#myCarousel" *ngFor="let image of images; let i = index" [ngClass]="i == 0 ? 'active' : ''" data-slide-to="{{i}}"></li>
      </ol>-->
      <div class="carousel-inner">
        <div *ngFor="let image of images;let k = index" [ngClass]="k == 0 ? 'item active' : 'item'"> 
          <img src="{{image.url}}" alt="" />
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a> 
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a> 
    </div> 