<!--<a class="btn btn-primary" [routerLink]="['/register']">Register</a> <a class="btn btn-default" [routerLink]="['/login']">Login</a>-->
<div class="container">
    <div class="row">
      <div class="col-lg-12">
      <img src="../src/assets/img/g1.jpg">
      </div>
    </div>
    <div class="row">
      <div id="home-heading" class="col-lg-12"><h1>Upcoming Games</h1></div>
    <div class="col-lg-12">
      <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
        <h3>Mass Effect</h3>
        <div class="col-md-6" style="padding:0px;">
          <img src="../src/assets/img/g12.jpg" style="width:100%;" />
          </div>
        <div class="col-md-6" style="padding:0px;">
           <img src="../src/assets/img/g9+4.jpg" style="width:100%;height:100%;" />
        </div>
        <div class="col-lg-12" style="padding:0px;">
        <img src="../src/assets/img/g15.jpg" style="width:100%;" />
        </div>
        <div class="col-lg-12" style="padding-top:30px;">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
        dummy text ever since the 1500s, Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
        dummy text ever since the 1500s,</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
        <h3>Horizon : Zero Dawn</h3>
        <div class="col-md-6" style="padding:0px;">
          <img src="../src/assets/img/g16.jpg" style="width:100%;" />
          </div>
        <div class="col-md-6" style="padding:0px;">
           <img src="../src/assets/img/g17.jpg" style="width:100%;height:100%;" />
        </div>
        <div class="col-lg-12" style="padding:0px;">
        <img src="../src/assets/img/g18.jpg" style="width:100%;" />
        </div>
        <div class="col-lg-12" style="padding-top:30px;">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
        dummy text ever since the 1500s, Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
        dummy text ever since the 1500s,</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
        <h3>RIME</h3>
        <div class="col-md-6" style="padding:0px;">
          <img src="../src/assets/img/g19.jpg" style="width:100%;" />
          </div>
        <div class="col-md-6" style="padding:0px;">
           <img src="../src/assets/img/g20.jpg" style="width:100%;height:100%;" />
        </div>
        <div class="col-lg-12" style="padding:0px;">
        <img src="../src/assets/img/g21.jpg" style="width:100%;" />
        </div>
        <div class="col-lg-12" style="padding-top:30px;">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
        dummy text ever since the 1500s, Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
        dummy text ever since the 1500s,</p>
        </div>
      </div>
    </div>

  <div id="home-block2" class="row" style="margin-top:50px, margin-bottom:50px;">
    <div class="col-lg-12">
      <h1>What's Trending</h1>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
        dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
        book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
        unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
        more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
        dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
        book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
        unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
        more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
  </div>

  <div id="home-bottom-block" class="row">
    <div class="col-lg-12">
      
      <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
        <div class="panel panel-inverse">
        <div class="panel-heading"><h3>What is LFG?</h3></div>
        <div class="panel-body">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
          dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
          specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
          essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
          passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
      </div>      
      </div>
      <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
        <div class="panel panel-inverse">
        <div class="panel-heading"><h3>Latest News</h3></div>
        <div class="panel-body">
        <div class="row">
        <div class="col-xs-12">
        <ul class="">
          <li class="news-item">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in venenatis enim... <a href="#">Read more...</a></li>
          <li class="news-item">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in venenatis enim... <a href="#">Read more...</a></li>
          <li class="news-item">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in venenatis enim... <a href="#">Read more...</a></li>
          <li class="news-item">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in venenatis enim... <a href="#">Read more...</a></li>
        </ul>
        </div>
        </div>
        </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
        <div class="panel panel-inverse">
        <div class="panel-heading"><h3>Advertisements</h3></div>
        <div class="col-md-6" style="padding:0px;">
          <img src="../src/assets/img/g4.jpg" style="width:100%;" />
          </div>
        <div class="col-md-6" style="padding:0px;">
           <img src="../src/assets/img/g5.jpg" style="width:100%;height:100%;" />
        </div>
        <div class="col-lg-12" style="padding:0px;">
        <img src="../src/assets/img/g7.jpg" style="width:100%;" />
        </div>
        </div>
      </div>
    </div>
  
  </div>
</div>

<div id="footer">
    <div class="row">
      <div class="col-lg-12">
        <p>&copy; 2017 Game App, All Rights Reserved.</p>
      </div>
    </div>
  </div>