/* You can add global styles to this file, and also import other style files */

body
{
    font-family: "Roboto", Helvetica, Arial, sans-serif !important;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    color: #eee !important;
    background-color: #1a1a1a !important;
}
.navbar .navbar-nav > li > a {
    color: inherit;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}
.navbar .navbar-brand {
    height: 50px !important;
}
.navbar.navbar-inverse {
    background-color: #1e2027 !important;
    color: #ffffff;
}

#main-nav {
    border-radius:0px;
    margin-bottom:0px;
}

#home-block2 h1,
#home-heading {
    text-align: center;
    text-decoration: underline;
    font-size: 46px;
    color: #ffffff;
    margin-top: 30px;
    margin-bottom: 30px;
}

#home-heading {
    text-decoration: none;
}

h3 {
    text-align: center;
    font-size: 22px;
}

#footer{
    padding-top: 15px;
    color: #ffffff;
    background-color: #4ac92e;
    text-align: center;
}
#home-bottom-block col-lg-4 {
    padding: 2px;
    border: 1px #eee solid;
}
img{
    height: auto;
    width: 100%;
}
.panel-body {
    background-color: #1a1a1a;
}

#register-page {
}
#profile-page .panel {
    background-color: #1a1a1a;
}
#lfg-page .form-control{
    color:#a2a2a2;
}