.navbar-brand {
    padding: 10px 15px !important;
}
.navbar-default {
    background-color: rgba(10, 10, 10, 0.76) !important;
     border-color:transparent !important; 
}
.navbar-fixed-top {
    top: 0;
    border-width: 0px !important;
}
.navbar-default .navbar-nav > li > a {
    color: #fff !important;
}
.navbar-nav > li > a:focus, .navbar-nav > li > a:hover {
    color: #eee !important;
    background-color: transparent;
}