<div class="navbar navbar-inverse navbar-fixed-top" style="border-radius:0px;margin-bottom:0px">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['/']"><span class="glyphicon glyphicon-home"></span></a>
    </div>
    <div class="navbar-collapse collapse navbar-inverse-collapse">
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['/']">Home</a></li>
        <li><a [routerLink]="['/about']">About</a></li>
        <li><a [routerLink]="['/games']">Game list</a></li>
        <li *ngIf="postService.loggedIn()"><a [routerLink]="['/lfg']">LFG</a></li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">        
        <li *ngIf="postService.loggedIn()"><a style="color:#1ac0db" >Hi,&nbsp;</a></li>
        <li *ngIf="postService.loggedIn()"><a [routerLink]="['/profile']">Profile</a></li>
        <li *ngIf="!postService.loggedIn()"><a [routerLink]="['/login']">Login</a></li>
        <li *ngIf="!postService.loggedIn()"><a [routerLink]="['/register']">Create Account</a></li>
        <li *ngIf="postService.loggedIn()"><a (click)="onLogoutClick()" style="cursor: pointer">Logout</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid" style="margin:0px;padding: 0px">
  <router-outlet></router-outlet>
</div>

