.well {
    margin-top:-20px;
    background-color:#007FBD;
    border:2px solid #0077B2;
    text-align:center;
    cursor:pointer;
    font-size: 25px;
    padding: 15px;
    border-radius: 0px !important;
}

.well:hover {
    margin-top:-20px;
    background-color:#0077B2;
    border:2px solid #0077B2;
    text-align:center;
    cursor:pointer;
    font-size: 25px;
    padding: 15px;
    border-radius: 0px !important;
    border-bottom : 2px solid rgba(97, 203, 255, 0.65);
}

.bg_blur
{
    background-image:url('https://screenshots.en.sftcdn.net/en/scrn/69690000/69690936/game-assistant-07-535x535.png');
    height: 300px;
    background-size: cover;
}

.follow_btn {
    text-decoration: none;
    position: absolute;
    left: 35%;
    top: 42.5%;
    width: 35%;
    height: 15%;
    background-color: #007FBE;
    padding: 10px;
    padding-top: 6px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    border: 4px solid #007FBE;
}

.follow_btn:hover {
    text-decoration: none;
    position: absolute;
    left: 35%;
    top: 42.5%;
    width: 35%;
    height: 15%;
    background-color: #007FBE;
    padding: 10px;
    padding-top: 6px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    border: 4px solid rgba(255, 255, 255, 0.8);
}

.header{
    color : #808080;
    margin-left:10%;
    margin-top:95px;
}

.picture{
    height:150px;
    width:150px;
    position:absolute;
    top: 95px;
    left:-75px;
}

.picture_mob{
    position: absolute;
    width: 35%;
    left: 35%;
    bottom: 70%;
}

.btn-style{
    color: #fff;
    background-color: #007FBE;
    border-color: #adadad;
    width: 33.3%;
}

.btn-style:hover {
    color: #333;
    background-color: #3D5DE0;
    border-color: #adadad;
    width: 33.3%;
   
}

@media (max-width: 767px) {
    .header{
        text-align : center;
    }
    .nav{
        margin-top : 30px;
    }
}





.panel-profile > .row
{
    padding-bottom: 30px;
}
.profile-item {
    position: relative;
    padding: 0 0 0 70px;
    text-transform: none;
    display:block;
}

.profile-item > a {
    display: block;
    overflow: hidden;
    text-decoration: none;
    font-size: 14pt;
}

.profile-item > a:first-child:before {
    font-family: "FontAwesome";
    display: inline-block;
    font-size: 55px;
    line-height: 18px;
    padding: 20px 0 0 0px;
    width: 70px;
    height: 70px;
    position: absolute;
    left: 0;
}

.profile-item-user > a:first-child:before {
    content: "\f07a";
}

.profile-item-orders > a:first-child:before  {
    content: "\f022";
}

.profile-item-pwd > a:first-child:before  {
    content: "\f023";
}

.profile-item-pwd > a:first-child:before  {
    content: "\f023";
    padding: 20px 0 0 10px;
}

.profile-item-star > a:first-child:before  {
    content: "\f006";
}

.profile-item-eye > a:first-child:before  {
    content: "\f06e";
}

.block {
    display:block;
}

.list-group .list-group-item {
    padding: 7px 7px !important;
}


.block {
    display: block;
    height: 425px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 640px;
}
.block img {
    transition: all 1s ease-in-out 0s;
    -moz-transition: all 1s ease-in-out 0s;
    -webkit-transition: all 1s ease-in-out 0s;
    -o-transition: all 1s ease-in-out 0s;
}
.block .block-caption {
    background: rgba(0,0,0,0.6);
    bottom: 0;
    color: #fff;
    display: table;
    left: 0;
    opacity: 0;
    padding: 10px 5px;
    position: absolute;
    transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    width: 100%;
    
}
.block:hover .block-caption {
    opacity: 1;
}
.block:hover img {
    transform: scale(1.5) rotateZ(-5deg);
    -moz-transform: scale(1.5) rotateZ(-5deg);
    -webkit-transform: scale(1.5) rotateZ(-5deg);
    -o-transform: scale(1.5) rotateZ(-5deg);
}
.block {
    height: 260px;
margin: 0 auto;
width: 100%;
}

.block img {
    transition: all 1s ease-in-out 0s;
    -moz-transition: all 1s ease-in-out 0s;
    -webkit-transition: all 1s ease-in-out 0s;
    -o-transition: all 1s ease-in-out 0s;
    width: 100%;
}
.block .block-caption {
    transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    width: 100%;
}

.block:hover img {
    transform: scale(1.2) rotateZ(-2deg);
    -moz-transform: scale(1.2) rotateZ(-2deg);
    -webkit-transform: scale(1.2) rotateZ(-2deg);
    -o-transform: scale(1.2) rotateZ(-2deg);
}


.portfolio-image {position: relative;}
.portfolio-item {margin:10px 0px;}
.portfolio-item .overlay {position: absolute;top: 0px;left: 0px;width: 100%;height: 100%;opacity: 0;vertical-align: middle;transition: opacity 300ms ease 0s;background-color: #000;text-align: center;}
.portfolio-item .overlay .preview {position: relative;top: 50%;display: inline-block;margin-top: -20px;}
.portfolio-item:hover .overlay {opacity: 0.7;}
.text-white {color: #fff;}