<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container-fluid" style="margin-top:70px; margin-bottom: 20px;">
    <div id="profile-page" class="container">
        <flash-messages></flash-messages>
        <!--Condition false--> 
        <div class="row left-center" *ngIf="verify == false">
            <h1>Please Verify Email address!</h1>
            <h1>Login to Your Mail Account and Verify Email Address Process</h1>
            </div>
        <!--Condition true-->
        <div *ngIf="verify == true">
            <div *ngIf="user">
                <div class="row">
                    <div class="col-md-4">
                        <img src="../src/assets/img/g11.png" class="img-responsive" />
                    </div>
                    <div class="col-md-8  col-xs-12">
                        <span *ngIf="user.fg_id">
                        <img src="{{user.fg_image}}" class="img-thumbnail picture hidden-xs" />
                        <img src="{{user.fg_image}}" class="img-thumbnail visible-xs picture_mob" />
                    </span>
                        <span *ngIf="!user.fg_id">
                        <img src="../../assets/img/{{user.profilepic}}" class="img-thumbnail picture hidden-xs" />
                        <img src="../../assets/img/{{user.profilepic}}" class="img-thumbnail visible-xs picture_mob" />
                    </span>
                    
                        <div class="header">
                            <h1 style="margin:0px">{{user.username}}&nbsp;</h1>
                            <h5 style="margin:0px 0px 10px 0px">{{user.email}}</h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                                the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                                of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                                but also the leap into electronic typesetting, remaining essentially unchanged</p>

                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-3">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    Pending Profile <i class="fa fa-times pull-right"></i>
                                </h4>
                            </div>
                        </div>

                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    Info
                                </h4>
                            </div>
                            <div class="panel-collapse" style="padding:10px;">
                                <h3 style="margin-top:5px">{{user.name}}</h3>
                                <p class="h5">{{user.email}}</p>
                                <p class="h5 text-capitalize">
                                    <label class="text-capitalize">Gender</label><br/> {{user.gender}}
                                </p>
                                <p class="h5 text-capitalize">
                                    <label class="">Birthday</label><br/> {{user.birthday | date:'fullDate'}}
                                </p>
                                <p class="h5 text-capitalize">
                                    <label class="">Hobbies</label><br/> {{user.hobbies}}
                                </p>
                                <p class="h5 text-capitalize">
                                    <label class="">Regular Playing Time</label><br/> {{user.regularTime}}
                                </p>
                                <p class="h5 text-capitalize">
                                    <label class="">Use of Mic</label><br/>
                                    <span>{{user.mic ? 'Yes' : 'No'}}</span>
                                </p>
                            </div>
                        </div>


                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    New Photo
                                </h4>
                            </div>
                        </div>
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    Friends
                                </h4>
                            </div>
                            <div class="panel-collapse">
                                <ul class="list-group list-unstyled">
                                    <li class="list-group-item">
                                        <div class="profile-item profile-item-star">
                                            <a href="#">
                                                <span></span>
                                            </a>
                                            <small class="h5" style="margin:-2px">Status</small>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9 col-xs-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Games For Each Platform</div>
                            <div class="panel-body">
                                <div class="row">
                                    <div>
                                        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 portfolio-item" *ngFor="let g of game">
                                            <div class="bg-white portfolio-image">
                                                <img title="{{g.name}}" alt="{{g.name}}" src="{{g.gamepic}}" style="width:100%" />
                                                <div class="overlay">
                                                    <a [routerLink]="['/games/', g._id]" class="preview" style="text-decoration: none">
                                                        <span class="text-white h3" >{{g.name}}</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>