<div class="container">
    
    <div id="login-page" class="row" style="margin-top: 150px;">

        <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
            <h3>Login</h3>
            <flash-messages></flash-messages>
            <form (submit)="onLoginSubmit()">
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" [(ngModel)]="username" name="username">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" [(ngModel)]="password" name="password">
                </div>
                <div class="col-md-12" style="padding:0px">
                    <span class="btn btn-link pull-right" [routerLink]="['/reset']" style="margin:3px 0px;padding:0px 5px; color: #eee;">Forgot Password</span>
                </div>
                <div class="col-md-12" style="padding:0px">
                    <span class="btn btn-link pull-right" style="margin:3px 0px;padding:0px 5px; color: #eee;" (click)="signIn('google')"><i aria-hidden="true" class="fa fa-google"></i> Login With Google</span>
                    <span class="btn btn-link pull-right" style="margin:3px 0px;padding:0px 5px; color: #eee;" (click)="signIn('facebook')"><i aria-hidden="true" class="fa fa-facebook"></i> Login With Facebook</span>
                </div>
                <button type="submit" class="btn btn-raised btn-primary pull-right">Login</button>
            </form>
        </div>
        <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
            <h3>Create Account</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

            <button class="btn btn-raised btn-primary pull-right" [routerLink]="['/register']">Create Account</button>
        </div>
        <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
            <h3>WHY JOIN STEAM?</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
    </div>

    <div class="row" style="margin-top:50px;">
        <h3>What is Lorem Ipsum?</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
</div>